@model IEnumerable<TaskOrganizer.Models.Project>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<input type="text" id="searchBox" placeholder="Pretraži projekte..." class="form-control" />

<div id="searchResults"></div>

@section Scripts {
    <script>
        $(document).ready(function() {
            $("#searchBox").keyup(function() {
                var searchTerm = $(this).val();

                $.get("/Projects/Search?term=" + searchTerm, function(data) {
                    var html = "";
                    data.forEach(function(project) {
                        html += `<div>${project.name}</div>`;
                    });
                    $("#searchResults").html(html);
                });
            });
        });
    </script>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProjectId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ProjectId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ProjectId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
